*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
img{
    width: 80px;
}
header{
    width: 100%;
    background: red;
    height: 70px;
}
h2{
    display: flex;
    align-items: center;
    padding: 8px 50px;
    color: white;
    font-size: 30px;
    margin-left: ;
}