*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all ease 0.2s;
    text-decoration: none;
    list-style: none;
}
#menubtn{
    color: #fff;
    display: none;

}
header{
    background: #8348FF;
    height: 80px;
    
    
}
header nav{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 1100px;
    margin: auto;
    height: 100%;
}
header #imagebox{
    width: 200px;
    height: 60px;
    
}
header img{
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    
}
nav ul li{
    font-size: 20px;
    position: relative;
    
}
nav ul li a{
    color: #fff;
    padding: 5px 10px;
    font-size: 22px;
    font-weight: 500;
    
}
header nav ul li::after{
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    background: #fff;
    bottom: -5px;
    transform: translateX(-50%);
    left: 50%;
    transition: all ease 0.2s;
    border-radius: 50%;
}
header nav ul li:hover::after{
    width: 150%;
}
section{
    max-width: 100%;
    width: 1000px;
    margin: auto;
    height: 100vh;
    padding: 30px;
    
}


#flexbox{
    display: flex;
    align-items: center;
      
}


#headingd-desc h2{
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 900;
}
#headingd-desc span{
    color: #8348FF;
}
#headingd-desc p{
    word-break: break-all;
    font-size: 18px;
}
#enrollnow{
    padding: 10px 60px;
    margin-top: 15px;
    border: none;
    outline: none;
    background: #8348FF;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}
.horizontalline{
    width: 100%;
    margin: auto;
    height: 5px;
    background: #8348FF;
    margin-top: 100px;
}
#advantagebox {
    text-align: center;
    padding-bottom: 100px;
}
#advantagebox h2{
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;

}
 .detailsbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detailsbox{
    height: 100%;
}
#advantagebox .detailsbox div{
    border: 1px solid #8348FF;
    width: 300px;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    background: #DAC9FF;
    margin:0 20px;

}

#advantagebox .detailsbox div:hover{
    background: #8348FF;
    color: #fff;
}
#bestcoursebox h2{
    width: 100%;
    padding: 10px;
    background: #8348FF;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 20px;
    
    
}
#bestcoursebox .coursebox{
    border: 1px solid #8348FF;
    background: #DAC9FF;
    padding: 10px;
    margin: 0 20px;
    height: 320px;
    margin-bottom: 20px;
}
#bestcoursebox .coursebox #imagebox{
    width: 250px
}
#bestcoursebox .coursebox img{
    width: 100%;
}
#bestcoursebox .coursebox #pricebox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}
#bestcoursebox .coursebox #starbox,i{
    margin: 5px 0;
    color: #8348FF;
}
#bestcoursebox .coursebox #enrollnow{
    width: 100%;
    margin-bottom: 10px;
}






























@media (max-width:900px){
    
    #menubtn{
        font-size: 25px;
        display: block;
    }

    header #homebars{
        width: 100%;
        left: -100%;
        position: fixed;
        display: flex;
        justify-content: unset;
        align-items: center;
        flex-direction: column;
        bottom: 0;
        height: 100vh;
        top: 80px;
        background: #8348FF;
        transition: all ease 0.2s;
        padding: 30px;
    
    }
    header #homebars li{
        margin-bottom: 50px;
    }
    header #homebars.active{
        left: 0;
    }
    .detailsbox{
        flex-direction: column;
    }
    .detailsbox div{
        margin-bottom: 30px;
        

    }
    
    
}
@media (max-width:600px) {
    body{
        background: red;
    }
    #flexbox{
        flex-direction: column;
    }
    
}
